 .featured-title {
            font-size: 56px;
            font-weight: 800;
            color: #000;
            margin-bottom: 20px;
        }

        .featured-desc {
            max-width: 700px;
            margin: auto;
            line-height: 1.5;
            color: #444;
        }

        .title-line {
            width: 190px;
            height: 12px;
            background: #7d5ae7;
            margin: 35px auto 0;
            border-radius: 30px;
        }

        @media(max-width:768px) {


            .featured-title {
                font-size: 36px;
            }



            .title-line {
                width: 120px;
                height: 8px;
            }

        }